@charset "UTF-8";

/* colors */
@def PRIMARY1 #9F9D86;
@def PRIMARY2 #5D5C54;
@def PRIMARY3 #423C09;
@def PRIMARY4 #D3D0BA;
@def PRIMARY5 #D3D1C1;

@def SECONDARY_A1 #617468;
@def SECONDARY_A2 #3D433F;
@def SECONDARY_A3 #073016;
@def SECONDARY_A4 #A8BFB1;
@def SECONDARY_A5 #AFBFB5;

@def SECONDARY_B1 #9F8A86;
@def SECONDARY_B2 #5D5654;
@def SECONDARY_B3 #421309;
@def SECONDARY_B4 #D3BEBA;
@def SECONDARY_B5 #D3C5C1;

@def COMPLEMENTARY1 #635C6C;
@def COMPLEMENTARY2 #3C3A3F;
@def COMPLEMENTARY3 #16062D;
@def COMPLEMENTARY4 #AFA7BC;
@def COMPLEMENTARY5 #B3ADBC;

/* font weights */
@def FONT_BOLD 600;
@def FONT_MED 500;
@def FONT_LIGHT 400;


/* defaults */

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: FONT_LIGHT;
}


/* gwt widgets */
@external gwt-TextBox;

.gwt-TextBox .coreTextBox {
	border: 1px solid SECONDARY_B3;
	border-radius: 3px;
	
	color: PRIMARY2;
}

.gwt-TextBox .coreTextBox .initial {
	color: PRIMARY5;
}

/* layout */

.horizontal {
	display: -webkit-flex;
	-webkit-flex-flow: row nowrap;	
	-webkit-align-items: stretch;
}

.vertical {
	display: -webkit-flex;
	-webkit-flex-flow: column nowrap;
	-webkit-align-items: stretch;
}

.horizontalScroll {
	width: 100%;
	
	overflow-x: auto;
	overflow-y: hidden;
}

.verticalScroll {
	height: 100%;
	
	overflow-x: hidden;
	overflow-y: auto;
}


/* app view */
.header {
	-webkit-justify-content: space-between;
	
	overflow: hidden;
	color: black;
	background-color: PRIMARY1;
}

	.headerLogo {
		font-size: 4em;
		line-height: 2em;
		width: 5em;
				
		-webkit-flex: none;
		
		text-align: center;
		text-shadow: 2px 2px COMPLEMENTARY3;
		
		color: PRIMARY5;
		background-color: SECONDARY_B3;
	}
	
	.headerLogin {
		flex: auto;
	}

.sidebar {
	width: 20em;
	height: 100%;
	
	overflow: hidden;
	
	color: black;
	background-color: PRIMARY3;
}
	
	.sidebarItem {
		margin: 2em;
		padding: 1em;
		
		border-top: 3px solid COMPLEMENTARY3;
		border-bottom: 3px solid COMPLEMENTARY3;

		color: black;
		background-color: SECONDARY_B5;
	}

.footer {
	width: 100%;
	height: 100%;
	
	overflow: hidden;
	
	color: black;
	background-color: COMPLEMENTARY1;
}

.content {
	width: 100%;
	height: 100%;

	overflow: auto;

	color: black;
	background-color: white;
}

	.contentBody {
		-webkit-justify-content: flex-start;

		width: 40em;
		height: 100%;
		
		margin-top: 2em;
		margin-left: 4em;
		margin-right: 4em;
		margin-bottom: 2em;

		background-color: white;
	}

		.title {
			display: block;
			width: 100%;
		
			font-size: 2em;
			font-weight: FONT_BOLD;
			
			padding-top: 0.5em;
			margin-bottom: 0.5em;
			
			border-bottom: 1px solid black;
		}
		
		.para {
			display: block;
		
			padding-top: 0.5em;
			padding-bottom: 0.5em;
			
			font-family: 'Poly', serif;
			font-weight: FONT_LIGHT;
		}

