@eval COMPLEMENTARY3 com.verophyle.core.client.CoreGinjector.INSTANCE.getCoreResources().css().COMPLEMENTARY3();
@eval FONT_MED com.verophyle.core.client.CoreGinjector.INSTANCE.getCoreResources().css().FONT_MED();

.list {
	height: 100%;
	
	margin-right: 2em;
	
	padding-top: 0.25em;
	padding-bottom: 0.25em;

	border-top: 4px solid red;
	border-right: 4px solid red;
	
	background-color: gray;
	color: purple;
}

.listItem {
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	
	font-weight: FONT_MED;
	
	background-color: green;
	color: pink;
}
